@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

body {
    width: 75em;
    margin: 0 auto;
    background-color: #ff5f0386;
}

body div{
    background-color: white;
    padding: 20px;
}

h1 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    color: #30ceff;
}

h2,h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: #333333;
}

h3 {
    font-size: 25px;
    font-weight: 100;
}

#main-pic {
    max-width: 100%;
    height: auto;
}

.description, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #3b3a3a;
}